.section-title {
  margin-left: 20px;
  font-size: 20px;
  font-weight: blod;
  color: #333;
}

.post {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 500px;
  padding: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.img-thumb {
  width: 200px;
  height: 150px;
  margin-right: 20px;
}

.img-thumb img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.content {
  flex: 1;
}

.content p.title {
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 16px;
}

.content p.description {
  margin: 8px;
  font-size: 16px;
  color: black;
}

.btn-remove {
  padding: 12px 10px;
  background: rgb(221, 6, 6);
  color: white;
  border-radius: 4px;
  outline: none;
  margin: 10px;
}

.btn-update {
  padding: 12px 10px;
  background: rgb(21, 255, 0);
  color: white;
  border-radius: 4px;
  outline: none;
  margin-top: 10px;
}

.btn-remove:hover {
  cursor: pointer;
}

.btn-update:hover {
  cursor: pointer;
}

.form-add-post {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  width: 500px;
  margin-left: 20px;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 4px;
}

.form-add-post label {
  display: block;
  font-size: 14px;
  color: rgb(42, 42, 128);
  font-weight: bold;
  margin-bottom: 10px;
}

.form-add-post input,
.form-add-post textarea {
  outline: none;
  border: 1px solid rgb(42, 42, 128);
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  color: rgb(42, 42, 128);
}

.btn-submit {
  outline: none;
  border: 1px solid rgb(42, 42, 128);
  padding: 10px 30px;
  border-radius: 4px;
  color: rgb(42, 42, 128);
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

.btn-submit:hover {
  cursor: pointer;
}